.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
    width: 100%;
    padding: 2rem;
    background-color: var(--color-background-default);
}

.spinner {
    position: relative;
    width: 80px;
    height: 80px;
    margin-bottom: 2rem;
}

.spinnerRing {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 3px solid transparent;
    border-top-color: var(--color-primary-main);
    border-radius: 50%;
}

.spinnerRing:nth-child(1) {
    border-top-color: var(--color-primary-light);
}

.spinnerRing:nth-child(2) {
    border-top-color: var(--color-primary-main);
    width: 70%;
    height: 70%;
    top: 15%;
    left: 15%;
}

.spinnerRing:nth-child(3) {
    border-top-color: var(--color-primary-dark);
    width: 40%;
    height: 40%;
    top: 30%;
    left: 30%;
}

.text {
    color: var(--color-primary-main);
    margin: 0;
    text-align: center;
}

@media (max-width: 768px) {
    .container {
        min-height: 60vh;
        padding: 1.5rem;
    }

    .spinner {
        width: 60px;
        height: 60px;
        margin-bottom: 1.5rem;
    }

    .spinnerRing {
        border-width: 2.5px;
    }
}
