.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-primary-dark);
  transition: color 0.3s ease;
}

.link:hover {
  color: var(--color-primary-main);
}

.icon {
  width: 3rem;
  height: 3rem;
  stroke: currentColor;
  fill: none;
}
