.button {
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
  transition: color 0.3s ease, transform 0.3s ease;
  color: var(--color-text-primary) !important;
  display: inline-block;
}

.button:hover {
  color: var(--color-text-primary);
  transform: scale(1.05);
}

.button.active {
  color: var(--color-primary-main) !important;
}
