@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.header {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.header h1 {
  color: #f1356d;
}

.navbar .center-links {
  flex: 1;
  display: flex;
  justify-content: center;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  color: #f1356d;
}

.navbar .btn {
  margin-left: auto;
  padding: 6px 12px;
  background-color: transparent; 
  color: #f1356d; 
  border: 2px solid #f1356d; 
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease; 
}

.navbar .btn:hover {
  background-color: #f1356d; 
  color: #fff; 
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/* blog previews / list */
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.blog-preview h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}

.blog-preview a{
  text-decoration: none;
}

/* blog details page */
.blog-details h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 10px;
}
.blog-details div {
  margin: 20px 0;
}
.blog-details button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* create new blog form */
.contact-form {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.contact-form label {
  text-align: left;
  display: block;
}
.contact-form h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}
.contact-form input, .contact-form textarea, .contact-form select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.contact-form button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* footer */

.footer {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.footer h1 {
  color: #f1356d;
}

/* .footer .center-links {
  flex: 1;
  display: flex;
  justify-content: center;
} */

.footer a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.footer a:hover {
  color: #f1356d;
}

.footer .btn {
  margin-left: auto;
  padding: 6px 12px;
  background-color: transparent; 
  color: #f1356d; 
  border: 2px solid #f1356d; 
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease; 
}

.footer .btn:hover {
  background-color: #f1356d; 
  color: #fff; 
}