.section {
  padding: 4rem 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-background-default);
  position: relative;
}

@media (max-width: 1024px) {
  .section {
    padding: 3rem 1.5rem;
  }
}

.container {
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 0 auto;
}

.header {
  width: 100%;
  text-align: center;
  margin-bottom: 6rem;
  margin-top: 3rem;
}

@media (max-width: 1024px) {
  .header {
    margin-bottom: 4rem;
    margin-top: 2rem;
  }
}

.label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.title {
  margin: 0;
}

.projectsGrid {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 6rem;
  padding: 1rem 0;
}

@media (max-width: 1024px) {
  .projectsGrid {
    gap: 3rem;
    padding: 0.75rem 0;
  }
}

@media (max-width: 768px) {
  .projectsGrid {
    gap: 2.5rem;
  }
}
